<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    
    <nav>
        <img src={{image}} width="60px"/>
        <h4>Social Network</h4>

        <ul>
            
            <form action ="/search/">
            <label for="query"></label>
            <input type="text" id="query" name="query" placeholder="TYPE HERE!">
            <input type="submit" value="Search!">
            </form>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/users/{{id}}/edit">Edit Data</a></li>
            <li><a href="/req/{{id}}">{{friReq}}</a></li>
            <li></li>
        </ul>


    </nav>
    <div> 
      <form action = {{post_url}} method = "POST">
         Enter Your Post Here
         <br>
         
         <textarea rows = "5" cols = "60" name = "text">
            Enter details here
         </textarea><br>
         <input type = "submit" value = "submit" />
    </div>

    <div class="container mt-4">
        {{#each posts}}
        <div class="jumbotron">
   
            <p class="lead">{{this.body}}</p>
            <hr class="my-4">
            
            <p class="lead">{{this.published_on}}</p>
       
        </div>

        {{/each}}
        



    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
</body>

</html>